

#about {
    position: relative;
    top: -10px;
    background-image: linear-gradient(0deg,#f0e6e600, #d6d4dd 75%,#0000FF);
    height: 1000px;
}

#aboutId {
    display: flex;
    justify-Content: center;
    align-Items: center;
    padding-Top: "20px";
    padding-Bottom: "10px";
    color: #d6d4dd !important;
}

#broccoli {
    display: inline-block;
    opacity: 0.9;
    border-radius: 90px;
}

#good{
    display: inline-block;
    text-align: center;
    width: 100%;
    font-weight: 900;
    color: #977a77;
    font-size: 20px;

}

#aboutContainerImg{
    display: flex;
    flex-wrap: wrap;
    justify-Content: center;
    align-Items: center;
}