

#body{
    position: relative;
    top: -10px;
    background-image: linear-gradient(0deg,#f0e6e600, #d6d4dd 75%,#0000FF);
}

h2 {
    display: flex;
    justify-Content: center;
    align-Items: center;
    padding-Top: "20px";
    padding-Bottom: "10px";
    color: '#d6d4dd',
}

#cardContainer {
    display: flex;
    justify-Content: center;
    align-Items: center;
}