

h1 {
    transition: all 1s;
    -webkit-text-stroke: 3px #ccdddd;
    text-align: center;
    color: transparent;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 10px 10px 0px #074d86,
      20px 20px 0px #3a5dd1,
      30px 30px 0px #2937b1,
      40px 40px 0px #170964;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
  }
  
  h1:hover {
    text-shadow: none;
  }

  #headingContainer {
    background-Color: blue;
  }